@media (max-width:1320px){
	.wrap{
		padding: 0 20px;
	}
}
@media (max-width:1024px){
	.category{
		& .category_videos{
			flex-wrap: wrap;
			& .video_item{
				min-width: calc(50% - 3px);
			}
		}
	}
}
@media (max-width:768px){
	.category{
		& .category_videos{
			& .video_item{
				min-width: 100%;
			}
		}
	}
}